<div class="job-char-server-wrapper" data-job="{{jobName}}" data-char="{{charName}}" data-server="{{serverName}}">
	<div class="body-header">
		<md-icon md-svg-icon="images/job-icons/{{jobName}}.svg"></md-icon>
		<div class="name">{{charName}}</div>
		<div class="server">({{serverName}})</div>
	</div>
	<div class="body-summaries">
		<div class="gauge-wrapper">
			<div class="header">Alte Roite</div>
			<ng-gauge size="130" type="arch" thick="10" min="0" max="120" value="68.2" cap="round" label="performance"
				foreground-color="#ffcc66" background-color="#3d3d3d" append="%"></ng-gauge>
		</div>
		<div class="gauge-wrapper">
			<div class="header">Alte Roite</div>
			<ng-gauge size="130" type="arch" thick="10" min="0" max="120" value="68.2" cap="round" label="performance"
				foreground-color="#ffcc66" background-color="#3d3d3d" append="%"></ng-gauge>
		</div>
		<div class="gauge-wrapper">
			<div class="header">Alte Roite</div>
			<ng-gauge size="130" type="arch" thick="10" min="0" max="120" value="68.2" cap="round" label="performance"
				foreground-color="#ffcc66" background-color="#3d3d3d" append="%"></ng-gauge>
		</div>
		<div class="gauge-wrapper">
			<div class="header">Alte Roite</div>
			<ng-gauge size="130" type="arch" thick="10" min="0" max="120" value="68.2" cap="round" label="performance"
				foreground-color="#ffcc66" background-color="#3d3d3d" append="%"></ng-gauge>
		</div>
		<div class="gauge-wrapper">
			<div class="header">Alte Roite</div>
			<ng-gauge size="130" type="arch" thick="10" min="0" max="120" value="68.2" cap="round" label="performance"
				foreground-color="#ffcc66" background-color="#3d3d3d" append="%"></ng-gauge>
		</div>
	</div>
</div>